.idea
.vscode
.zed
.history
upload
*.exe
*.db
build
*.db-journal
logs
*.log
*.bak
*.tar.gz
*.zip
web/dist
.env
one-api
new-api
/__debug_bin*
.DS_Store
tiktoken_cache
.eslintcache
.gocache
.gomodcache/
.cache
web/bun.lock
plans
.claude
release/
web/node_modules/
web/package-lock.json

electron/node_modules
electron/dist
data/
.gomodcache/
.gocache-temp
.gopath
